extends layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6
        .card
          .card-header Iniciar sesi칩n
          .card-body
            if error
              .alert.alert-danger
                p= error
            form(action="/auth", method="POST")
              .mb-3
                label(for="Usuario", class="form-label") Usuario
                input(type="text", class="form-control", id="Usuario", name="Usuario", placeholder="Ingrese su usuario", required)
              .mb-3
                label(for="Contra", class="form-label") Contrase침a
                input(type="password", class="form-control", id="Contra", name="Contra", placeholder="Ingrese su contrase침a", required)
                button(type="submit", class="btn btn-primary btn-block") Iniciar sesi칩n
