extends layout
block content
    .container.mt-5
      .row
        .col
          h1.display-4 Consulta de Nómina
          table.table.table-striped.table-hover
            thead
              tr
                th ID del empleado
                th Nombre
                th Deducciones
                th Percepciones
            tbody
              tr(data-bs-toggle="modal" data-bs-target="#detailsModal")
                td 001
                td Empleado1
                td $100.00
                td $1000.00
              tr(data-bs-toggle="modal" data-bs-target="#detailsModal")
                td 002
                td Empleado2
                td $50.00
                td $1200.00
              // Agrega más filas de datos aquí
    // Modal para mostrar deducciones y percepciones detalladas
    .modal.fade#detailsModal(tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title Detalles de Nómina
            button.btn-close(data-bs-dismiss="modal" aria-label="Cerrar")
          .modal-body
            table.table.table-bordered
              thead
                tr
                  th Concepto
                  th Monto
              tbody
                tr
                  td Deducción 1
                  td $50.00
                tr
                  td Deducción 2
                  td $50.00
                tr
                  td Percepción 1
                  td $600.00
                tr
                  td Percepción 2
                  td $600.00
              // Agrega más filas de detalles aquí
          .modal-footer
            button.btn.btn-secondary(data-bs-dismiss="modal") Cerrar