extends layout

block content
    .container.mt-5
      .row.justify-content-center
        .col-md-6.text-center
          h1 Sistema de Nómina
          p Bienvenido al sistema de nómina. Seleccione una opción a continuación:
          .mb-3
            a(href="/usuarios" class="btn btn-primary") Control de Usuarios
          .mb-3
            a(href="/nomina" class="btn btn-success") Consultar Nómina
